@import "./settings/reset";
@import "settings/colors";
@import "settings/fonts";
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}